<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tic Tac Toe</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="src/Helpers.js"></script>
        <script src="src/Game.js"></script>
        <script src="src/Player.js"></script>
        <script src="src/Field.js"></script>
        <script src="src/TicTacToe.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>Tic Tac Toe</h1>
            <p v-if="gameIsOver">{{ winnerName }} Wins!</p>
            <p v-else>It is {{ activePlayer }}'s turn.</p>
            
            
            <div>
                <button-row 
                v-for="field in fields[0]"
                v-bind:field="field"
                v-bind:key="field.positionX"
                ></button-row>
            </div>
            <div>
                <button-row 
                v-for="field in fields[1]"
                v-bind:field="field"
                v-bind:key="field.positionX"
                ></button-row>
            </div>
            <div>
                <button-row 
                v-for="field in fields[2]"
                v-bind:field="field"
                v-bind:key="field.positionX"
                ></button-row>
            </div>
            
            <p v-if="gameIsOver"><small>To play again refresh the page!</small></p>
            
        </div>

        <script>
            Vue.component('button-row', {
                props: ['field'],
                template: '<button :disabled="disabled" v-on:click="turn(field)">{{field.owner}}</button>',
                methods: {
                    turn: function(field) {
                        this.disabled = true
                        app.turn(field);
                    },
                },
                data: function() {
                    return {
                        disabled: false,
                    }
                }
            })

            var app = new Vue({
                el: '#app',
                data: {
                    fields: [
                        [field0, field1, field2],
                        [field3, field4, field5],
                        [field6, field7, field8]
                    ],
                    game: game,
                    activePlayer: game.activePlayer.playerName,
                    winnerName: null,
                    gameIsOver: false
                },
                methods: {
                    turn: function(field) {
                        // plays turn
                        this.game.playTurn(field);

                        // checks if someone won and reacts accordingly
                        if (game.isGameOver()) {
                            this.winnerName = game.winner;
                            this.gameIsOver = true;
                        } else {
                            this.activePlayer = game.activePlayer.playerName;
                        }
                    }
                },
            });

            
        </script>
    </body>
</html>